<div class="form">
<h2>Create new Celebrity</h2>

<form action="/celebrities/new" method="POST">
    <div class="form-group col-md-4 m-2">
        <label for=""> Name </label>
        <input type="text" name="name" class="form-control">
    </div>

    <div class="form-group col-md-4 m-2">
        <label for=""> Occupation</label>
        <input type="text" name="occupation" class="form-control">
    </div>

    <div class="form-group col-md-4 m-2">
        <label for=""> Catch-Phrase </label>
        <input type="text" name="catchPhrase" class="form-control">
    </div>

<select name="favMovie" id="">
  <option value=""> Choose movie</option>
  {{#each allMovies}}
  <option value={{id}}> {{title}} </option>
  {{/each}}
</select>

    <button type="submit" class="btn btn-success btn-lg m-2"> Create </button>

</form>
</div>

<a href="/" class="btn btn-outline-primary mt-3"> <~ Back </a>
